#main {
  font-family: Futura;
  font-size: 16px;
}

#title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(199, 169, 64);
  text-align: center;
}

#subtitle {
  text-align: center;
  font-weight: bold;
}

#h1 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

#image {
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

#img-caption {
  text-align: center;
  font-size: 14px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
